img#hero-img {
}

img.github-icon {
    max-width: 50px;
}

button.github-button {
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.github-icon-button {
    max-width: 15px;
}