img.hero-img {
    max-width: 100%;
}

img.github-icon {
    max-width: 50px;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

button.github-button {
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.github-icon-button {
    max-width: 15px;
}

@media (min-width: 1024px) {
    img.hero-img {
        max-height: 700px;
    }
}